<%= form_with(model: news, local: true) do |form| %>
  <% if news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message, id: :news_message %>
  </div>

  <div class="field">
    <%= form.label "Photo URL:" %>
    <%= form.text_field :photo, id: :news_photo %>
  </div>

  <!-- <div class="field"> -->
    <%#= form.label :likes %>
    <%#= form.number_field :likes, id: :news_likes %>
  <!-- </div> -->

  <!-- <div class="field"> -->
    <%#= form.label :profile_id %>
    <%#= form.text_field :profile_id, id: :news_profile_id %>
  <!-- </div> -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
