<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @news.message %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @news.photo %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @news.likes %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @news.profile %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
