<!DOCTYPE html>
<html>
  <head>
    <title>Social Network</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'partials/navbar' %>
      <div class="notice alert-success"><%= notice %></div>
      <div class="alert"><p class="alert-danger"><%= alert %></p></div>
      <%= yield %>
    </div>
  </body>
</html>
